@media (max-width: 1110px) {
    .container {
        max-width: 990px;
    }
    .new-coll-list {
        justify-content: center;
    }
}

@media (max-width: 990px) {
    .container {
        max-width: 768px;
    }
    .new-collection {
        flex-direction: column;
    }
    .collection-2018 {
        flex-direction: column-reverse;
    }
    .new-coll-left-part, .new-coll-right-part, .collection-right, .collection-left {
        width: 100%;
    }
    .new-coll-list, .goods-list {
        margin: 0;
        justify-content: space-around;
    }
    .new-coll-right-part h2, .collection-right h2{
        font-size: 30px;
    }

    .goods h2 {
        font-size: 26px;
    } 
    
    .new-coll-right-part h2::after,.collection-right h2::after {
        width: 100px;
        margin: 0 auto;
    }
    .new-coll-left-part h2::after {
        width: 100px;
        margin: 0 auto;
    }


@media (max-width: 767px) {
    body.lock {
        overflow: hidden;
    }
    .container {
        padding: 0 20px;
    }
    p.logo, p.info-text, a.info-auth {
        z-index: 3;
    }
    .burger-menu {
        display: block;
        position: relative;
        width: 33px;
        height: 20px;
        z-index: 3;
    }
    .burger-menu span {
        position: absolute;
        display: block;
        width: 100%;
        height: 3.84px;
        left: 0;
        top: 8px;
        background-color: #fff;
        transition: 1s;
    }
    .burger-menu::before,
    .burger-menu::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3.84px;
        left: 0;
        transition: 1s;
        background-color: #fff;
    }
    .burger-menu::before {
        top: 0;
    }
    .burger-menu::after {
        bottom: 0;
    }
    .burger-menu.active span {
        transform: scale(0);
        transition: 1s;
    }
    .burger-menu.active::after {
        transform: rotate(-45deg);
        bottom: 8px;
        transition: 1s;
        background-color: #fff;
    }
    .burger-menu.active::before {
        transform: rotate(45deg);
        top: 8px;
        transition: 1s;
        background-color: #fff;
    }
    .menu-right {
        position: fixed;
        left: -100%;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: #0F0F0F;
        z-index: 2;
        transition: 1s;
        flex-direction: column;
    }
    .menu-right.active {
        left: 0;
        transition: 1s;
    }
    ul.main-menu {
        height: 60px;
        display: block;
        z-index: 2;
        transition: 1s;
        margin: 148px 0;
        width: 100%;
    }
    ul.main-menu li {
        border-bottom: 1px solid #fff;
        padding-top: 0;
        text-align: center;
        font-size: 30px;
        line-height: 2.4;
    }
    .header-links {
        margin-top: 50px;
        width: 100%;
        text-align: center;
    }
    .basket-link, .search-link  {
        margin: 0 20px;

    }
    .header {
        background-position-x: center;
    }
    .cube {
        height: 200px;
        width: 200px;
        padding-top: 60px;
        margin-bottom: 40px;
    }
    p.name {
        font-size: 40px;
    }
    p.name::after {
        position: absolute;
        content: '';
        width: 110px;
        height: 2px;
        background-color: #fff;
        margin: 0 auto;
        bottom: 0;
    }
    p.city {
        font-size: 16px;
    }
    .goods-list {
        justify-content: center;
    }
    .collection-right {
        padding: 0 20px;
        padding-top: 100px;
    }
    a.catalog-btn, a.collection-2018-btn {
        display: inline-block;
        font-size: 14px;
        text-transform: uppercase;
        color: #fff;
        line-height: 3;
        text-align: center;
        padding: 0 18px;
        height: 47px;
        border: 2px solid white;
        margin-bottom: 57px;
    }
    .brands-list {
        justify-content: center;
    }
    .goods h2::after {
        width: 100px;
        left: 33%;
    }
}

@media (max-width: 540px) {
    .info-body {
        flex-direction: column;
    }
    p.info-text {
        margin-bottom: 10px;
    }
    #mail, #footer-button {
        width: 100%;
        margin-bottom: 20px;
    }
    
}